<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>Lime_RabbitMQ</name>
        <type>plugin</type>
        <creationDate>2023-11-06</creationDate>
        <last_update>2023-11-06</last_update>
        <author>Sameul Wilk</author>
        <authorUrl></authorUrl>
        <supportUrl></supportUrl>
        <license></license>
        <version>1.0.0</version>
        <description>Connect Limesurvey with RabbitMQ.</description>
    </metadata>

    <compatibility>
	    <version>6.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
